/* CSS Document */
body {color:#444;font-family:"helvetica neue",arial,sans-serif;font-size:12px;background:#fff;}
li {list-style:none;}
div,img{ padding:0; margin:0; border:0;}
a {text-decoration:none;color:#838485}
a:hover {text-decoration:underline;}
*{margin:0;padding:0}
/***content**/
.app_block{ width:970px;margin:0 auto;}
.line1_1{position:relative;background:url(http://img.to8to.com/front_end/bg/app_new_line1_l.png) no-repeat center center;height:413px;margin-left:2px;}
.line1_2{position:relative;background:url(http://img.to8to.com/front_end/bg/app_new_line2_1.png?1) no-repeat center center;height:413px;margin-left:2px;}
.m_t24{margin-top:24px;}
.post_box{position:absolute;overflow:hidden;width:350px;height:32px;}
.post_box .txt{float:left;width:255px;background:url(http://img.to8to.com/front_end/bg/app_bg.gif) no-repeat 0 -56px;height:26px;border:0;margin-top:3px;margin-left:7px;line-height:26px;color:#b2b2b2;}
.post_box .smt{float:right;width:68px;height:32px;background:url(http://img.to8to.com/front_end/bg/app_bg.gif) no-repeat 0 0; border:0; cursor:pointer;}
.line1_1 .post_box{top:182px;left:118px;}
.line1_2 .post_box{top:185px;left:119px;}
/******/
.other_friend{margin:auto;width:970px;line-height:21px;color:#000000;}
.other_friend a{color:#000000;display:inline-block;margin-right:15px;}
.f_line {clear:both;width:100%;border-top:1px solid #ddd;height:1px;margin:25px 0px;}
.footer {margin:0 auto;padding-bottom:80px;}
.footer a {color:#444;}
.footer li {height:24px;line-height:24px;}
.footer .f_about {float:left;width:auto;_width:470px;}
.footer .f_about .f_gz {height:31px;line-height:31px;}
.footer .f_about .f_gz span {float:left;}
.footer .f_about .f_sina,.footer .f_about .f_tx,.footer .f_about .f_xl{ background: url("http://img.to8to.com/front_end/bg/foor_bg.gif") no-repeat scroll -9px -87px transparent;float: left;height: 16px;margin: 8px 0 0 8px; width: 16px;}
.footer .f_about .f_tx {background-position: -30px -87px;}
.footer .f_about .f_xl {background-position: -52px -87px;}
.footer .f_icp {float:right;text-align:right;}
.footer .f_icp .span_an_pic {background:url("http://img.to8to.com/front_end/bg/common_img.gif") repeat 0 0;display:inline-block;width:27px;height:22px;margin:0 3px;}
.footer .f_icp .span_an_pic1 {background-position:0 -328px;}
.footer .f_icp .span_an_pic2 {background-position:0 -374px;}
.footer .f_icp .span_an_pic3 {background-position:0 -408px;margin-right:0px;}
/*应用下载*/
.recommond_download_title {font-family:"Microsoft YaHei", "宋体", sans-serif;font-size:22px;margin:20px 0px;}
.download_item {display:block;width:187px;height:112px;background:url("http://img.to8to.com/front_end/bg/apps_recommond_download_item_bg.png") no-repeat;float:left;margin-right:8px;}
.download_item_last{margin-right:0px}
.item_logo {float:left;margin:10px 0px 0px 10px;}
.item_desc {float:left;margin:10px 0px 0px 10px;}
.item_desc_name {font-weight:bold;color:#000;}
.item_desc_star {width:74px;height:14px;margin-top:5px}
.recommond_download {overflow:height;}
/*应用详情*/
.app_detail {overflow:auto;}
.app_detail_title {background:url("http://img.to8to.com/front_end/bg/apps_download_home_bg.png") no-repeat;height:15px;padding-left:25px;margin:25px 0px 20px;font-family:'宋体';line-height:18px;}
.app_detail_title_home {color:#000;}
.app_detail_title_name {color:#666;}
.app_detail_content_left {width:222px;border:1px solid #C7C7C7;float:left;overflow:auto;}
.app_detail_content_right {width:734px;border:1px solid #C7C7C7;float:left;margin-left:10px;overflow:auto;}
.app_detail_content_left_title {line-height:65px;font-size:22px;font-family:"Microsoft YaHei", "宋体", sans-serif;text-align:center;height:65px;}
.app_detail_content_left_logo, .app_detail_content_left_version, .app_detail_content_left_size {margin:0 auto;width:160px;color:#777;}
.app_detail_content_left_star {margin-top:20px;margin-bottom:25px;text-align:center;}
.app_detail_content_left_size {margin-top:10px;}
.detail_btn {display:block;border-radius:4px;width:160px;height:40px;margin:10px auto;color:#FFF;line-height:40px;font-size:14px;text-align:center;font-weight:bold;}
.detail_btn:hover {color:#FFF;text-decoration:none;}
.download_iphone {background:#F36F20;}
.download_android {background:#00AD28;}
.app_detail_content_left_recommond {border-bottom:1px dotted #c7c7c7;width:200px;margin:20px auto;padding:5px 0px;}
.app_detail_content_left_other {width:200px;margin:0px auto;height:93px;display:block;}
.othter_img {float:left;}
.othter_desc {float:left;margin-left:10px;}
.content_right_top  {overflow:auto;width:697px;margin:0 auto;}
.content_right_top_left  {float:left;width:570px;}
.content_right_top_left_title  {line-height:65px;font-size:22px;font-family:"Microsoft YaHei", "宋体", sans-serif;height:65px;}
.content_right_top_right {float:left;width:106px;height:106px;margin:20px 0px 0px 5px;text-align:center;height:130px;}
.content_right_top_right div {line-height:20px;color:#666;}
.content_right_center_line {margin:20px auto;width:682px;height:1px;border-top:1px dotted #c7c7c7;}
.content_right_screen {font-size:22px;font-family:"Microsoft YaHei", "宋体", sans-serif;height:50px;width:682px;margin:0px auto;}
.screen_box {width:693px;height:340px;margin:0 auto;}
.screen_left {float:left;width:16px;height:28px;background:url("http://img.to8to.com/front_end/bg/apps_download_detail_jt.png") no-repeat;cursor:pointer;margin-top:142px;}
.screen_center{float:left;width:630px;height:310px;overflow:hidden;position:relative;margin:0px 15px;}
.screen_center_show_box {position:absolute;width:2000%;height:300px;top:0px;left:0px;}
.screen_item {float:left;margin-right:10px;}
.screen_right{float:left;width:16px;height:28px;background:url("http://img.to8to.com/front_end/bg/apps_download_detail_jt.png") no-repeat -38px 0px;cursor:pointer;margin-top:142px;}
