
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>广告页面</title>
    <link  rel="stylesheet" type="text/css" href="../../js/easyui/themes/default/easyui.css"></link>
    <link  rel="stylesheet" type="text/css" href="../../js/easyui/themes/icon.css"></link>

    <script type="text/javascript" src="../../js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="../../js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../js/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#grid').datagrid({
                title: '投诉管理',
                pageNumber: 1,
                pageSize: 10,
                pageList: [5, 10, 15, 20],
                method: "GET",
                url: '/terrace/findComByPage',
                striped: true,
                pagination: true,
                fitColumns: true,
                toolbar: toolbar,
                columns: [[
                    //此处编写页面显示的field
                    {field:'complainId',title:'编号',width:100},
                    {field:'user',title:'投诉者',width:100},
                    {field:'complainText',title:'投诉内容',width:100},
                    {field:'complainState',title:'投诉状态',width:100,align:'right'}
                ]]
            });


            // 添加
            $("#save").bind('click', function () {
                // 判断是否form中所有表单对象 都是通过校验
                if ($("#standardForm").form('validate')) {
                    $.ajax({
                        type: "post",
                        url: "/terrace/addAdv",
                        data: $("#standardForm").serialize(),
                        statusCode: {
                            201: function () {
                                $.messager.alert('提示', '新增成功!');
                                $("#standardWindow").window('close');
                                $('#grid').datagrid('reload');
                            },
                            500: function () {
                                $.messager.alert('提示', '新增失败!');
                            }
                        }
                    });

                } else {
                    $.messager.alert("警告", "表单中还存在需要一些非法内容", "warning");
                }
            });

            // 修改的保存
            $("#update").bind('click', function () {
                //此处编写修改的请求内容
                var products = $('#grid').datagrid('getSelections')
                if(products!=null) {
                    // 判断是否form中所有表单对象 都是通过校验
                    if ($("#updateForm").form('validate')) {
                        $.ajax({
                            method:"post",
                            url: "",
                            data: $("#updateForm").serialize(),
                            statusCode: {
                                201: function () {
                                    $.messager.alert('提示', '修改成功!');
                                    $("#updateWindow").window("close")
                                    $('#grid').datagrid('reload');
                                },
                                500: function () {
                                    $.messager.alert('提示', '修改失败!');
                                }
                            }
                        });

                    } else {
                        $.messager.alert("警告", "至少选中一行", "warning");
                    }
                }


            });

        })

        //批量删除--开始
        function deletedata() {

            //返回选中多行
            var advs = $('#grid').datagrid('getSelections')
            //判断是否选中行
            if (advs.length == 0) {
                $.messager.alert("提示", "请选择要删除的行！", "info");
                return;
            } else {
                var aid = "";
                //批量获取选中行的评估模板ID
                for (i = 0; i < advs.length; i++) {
                    if (aid == "") {
                        aid = advs[i].aId;
                    } else {
                        aid = advs[i].aId + "," + aid;


                    }
                }


                $.messager.confirm('提示', '是否删除选中数据?', function (r) {

                    if (!r) {
                        return;
                    }
                    //提交
                    $.ajax({
                        type: "GET",
                        async: false,
                        url: "/terrace/deletes?ids=" + aid,

                        statusCode: {
                            201: function () {
                                $.messager.alert('提示', '删除成功!');
                                $('#grid').datagrid('reload');
                            },
                            500: function () {
                                $.messager.alert('提示', '修改失败!');
                            }
                        }
                    });
                });

            }
        };


        //批量删除--结束


        var toolbar = [{
            id: 'button-add',
            text: '增加',
            iconCls: 'icon-add',
            handler: function () {
                // 重置表单
                $("#standardWindow").form('clear');
                // alert('增加');
                //此处是添加按钮
                $("#standardWindow").window('open');
            }
        },
            {
                id: 'button-edit',
                text: '修改',
                iconCls: 'icon-edit',
                handler: function () {
                    var hh = $('#grid').datagrid('getSelected')
                    $("#updateForm").form("load",hh);
                    //此处完成修改窗口的开和页面数据的回显
                    $("#updateWindow").window('open');

                }
            }, {
                id: 'button-delete',
                text: '批量删除',
                iconCls: 'icon-cancel',
                handler: deletedata
            }, {
                id: 'button-text',
                text: '广告名称:<input id="aText" name="aText" class="easyui-combobox" />',
                iconCls: 'icon-sea',
                handler: function () {
                }
            }, {
                id: 'button-btn',
                text: '<span id="btn" class="easyui-linkbutton" href="javascript:void(0)">查询</span>',
                iconCls: 'icon-search',
                handler: function () {
                }
            }]


        $(function () {
            //为查询按钮绑定事件
            $("#btn").click(function () {

                //获得查询的条件
                var aText = $("#aText").val();


                //重新加载列表发送条件
                $("#grid").datagrid("reload", {"aText": aText});
            });
        });
    </script>
</head>


<body>


<div class="demo-info">
    <div class="demo-tip icon-tip"></div>
</div>
<div style="margin:10px 0;"></div>

<table id="grid"></table>
<!--添加-->
<div class="easyui-window" title="添加广告" id="standardWindow" collapsible="false" minimizable="false" maximizable="false"
     modal="true" closed="true" style="width:400px;top:50px;left:200px">
    <div region="north" style="height:31px;overflow:hidden;" split="false" border="false">
        <div class="datagrid-toolbar">
            <a id="save" icon="icon-save" href="#" class="easyui-linkbutton" plain="true">保存</a>
        </div>
    </div>

    <div region="center" style="overflow:auto;padding:5px;" border="false">

        <form id="standardForm">
            <table class="table-edit" width="80%" align="center">
                <tr>
                    <td>广告名称</td>
                    <td>
                        <input type="text" name="aText" required="true"/>
                    </td>
                </tr>
                <tr>
                    <td>广告图片</td>
                    <td>
                        <input type="text" name="aPhoto" required="true"/>
                    </td>
                </tr>


                <!--<tr>-->
                    <!--<td>图片上传</td>-->
                    <!--<td><input name="aPhoto" id="imgFile" type="file" required="required"-->
                               <!--class="easyui-filebox"   style="width: 100%" accept="image/png,image/jpeg,image/gif"></td>-->
                <!--</tr>-->
            </table>
        </form>
    </div>


</div>

<!--修改-->
<div class="easyui-window" title="修改广告" id="updateWindow" collapsible="false" minimizable="false" maximizable="false"
     modal="true" closed="true" style="width:400px;top:50px;left:200px">
    <div region="north" style="height:31px;overflow:hidden;" split="false" border="false">
        <div class="datagrid-toolbar">
            <a id="update" icon="icon-save" href="#" class="easyui-linkbutton" plain="true">保存</a>
        </div>
    </div>

    <div region="center" style="overflow:auto;padding:5px;" border="false">

        <form id="updateForm">
            <table class="table-edit" width="80%" align="center">
                <!--隐藏域，商品id-->
                <input type="hidden" name="aId" required="true"/>

                <tr>
                    <td>广告名称</td>
                    <td>
                        <input type="text" name="aText"
                               class="easyui-validatebox" data-options="required:true"/>
                    </td>
                </tr>
                <tr>
                    <td>广告图片</td>
                    <td>
                        <input type="text" name="aPhoto"
                               class="easyui-validatebox" data-options="required:true"/>
                    </td>
                </tr>

                <!--<tr>-->
                    <!--<td>图片上传</td>-->
                    <!--<td><input name="imgFile" id="imgFile2" type="file" required="required"-->
                               <!--style="width: 100%" accept="image/png,image/jpeg,image/gif"></td>-->
                <!--</tr>-->

            </table>
        </form>
    </div>
</div>
</body>


</html>